
@mixin hairline ($position, $color) {
	@if $position == 'top'{
	 	&:before {
	        content: '';
	        position: absolute;
	        left: 0;
	        top: 0;
	        bottom: auto;
	        right: auto;
	        height: 1px;
	        width: 100%;
	        background-color: $color;
	        display: block;
	        z-index: 15;
	        transform-origin: 50% 0%;
	        @media only screen and (-webkit-min-device-pixel-ratio: 2) {
	          transform: scaleY(0.5);
	        }
	        @media only screen and (-webkit-min-device-pixel-ratio: 3) {
	            transform: scaleY(0.33);
	        }
	    }
	}

	@if $position == 'bottom'{
	 	 &:after {
	        content: '';
	        position: absolute;
	        left: 0;
	        bottom: 0;
	        right: auto;
	        top: auto;
	        height: 1px;
	        width: 100%;
	        background-color: $color;
	        display: block;
	        z-index: 15;
	        transform-origin: 50% 100%;
	        @media only screen and (-webkit-min-device-pixel-ratio: 2) {
	            transform: scaleY(0.5);
	        }
	        @media only screen and (-webkit-min-device-pixel-ratio: 3) {
	            transform: scaleY(0.33);
	        }
	    }
	}

	@if $position == 'left'{
	 	&:before {
	        content: '';
	        position: absolute;
	        left: 0;
	        top: 0;
	        bottom: auto;
	        right: auto;
	        width: 1px;
	        height: 100%;
	        background-color: $color;
	        display: block;
	        z-index: 15;
	        transform-origin: 0% 50%;
	        @media only screen and (-webkit-min-device-pixel-ratio: 2) {
	            transform: scaleY(0.5);
	        }
	        @media only screen and (-webkit-min-device-pixel-ratio: 3) {
	            transform: scaleY(0.33);
	        }
	    }
	}

	@if $position == 'right'{
	 	&:after {
	        content: '';
	        position: absolute;
	        right: 0;
	        top: 0;
	        left: auto;
	        bottom: auto;
	        width: 1px;
	        height: 100%;
	        background-color: $color;
	        display: block;
	        z-index: 15;
	        transform-origin: 100% 50%;
	        @media only screen and (-webkit-min-device-pixel-ratio: 2) {
	            transform: scaleY(0.5);
	        }
	        @media only screen and (-webkit-min-device-pixel-ratio: 3) {
	            transform: scaleY(0.33);
	        }
	    }
	}
}

// For right and bottom
@mixin hairline-remove($position){
	@if $position == 'right' or $position == 'bottom' {
		&:after {
	        display: none;
	    }
	}

	@if $position == 'left' or $position == 'top' {
		&:before {
	        display: none;
	    }
	}
    
}

@mixin table-equal($children: li) { 
	display: table;
	table-layout: fixed; 
	width: 100%; 
	$childrenEle: li div p a span strong; 
	@if index($childrenEle, $children) {
		#{$children} { 
			display: table-cell; 
		} 
	} 
	@else {
		.#{$children} { 
			display: table-cell; 
		} 
	}
 }


