// Text overflow
// Requires inline-block or block for proper styling
@mixin text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Line clamp
// http://dropshado.ws/post/1015351370/webkit-line-clamp
@mixin line-clamp($lines: 2, $line-height: 1.3em) {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines; // number of lines to show
  overflow: hidden;
  line-height: $line-height;
  max-height: $line-height * $lines;
}


/// CSS Triangle

@mixin css-triangle($triangle-size, $triangle-color, $triangle-direction) {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset $triangle-size;
  @if ($triangle-direction == top) {
    border-color: $triangle-color transparent transparent transparent;
    border-top-style: solid;
  }
  @if ($triangle-direction == bottom) {
    border-color: transparent transparent $triangle-color transparent;
    border-bottom-style: solid;
  }
  @if ($triangle-direction == left) {
    border-color: transparent transparent transparent $triangle-color;
    border-left-style: solid;
  }
  @if ($triangle-direction == right) {
    border-color: transparent $triangle-color transparent transparent;
    border-right-style: solid;
  }
}

@mixin border($direction:all,$border-color:#eee,$border-radius:none){

    @if($direction == left){
      border-left: 1px solid $border-color;
    }
    @if($direction == right){
      border-right: 1px solid $border-color;
    }
    @if($direction == top){
      border-top: 1px solid $border-color;
    }
    @if($direction == bottom){
      border-bottom: 1px solid $border-color;
    }
    @if($direction == all){
      border: 1px solid $border-color;
    }
    border-radius: $border-radius;
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
        position: relative;
        border: 0;
        &:before{
            content:"";
            width: 200%;
            height: 200%;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-transform:scale(.5);
            -webkit-transform-origin: 0 0;
            padding: 1px;
            -webkit-box-sizing: border-box;
            border-radius: $border-radius;
            pointer-events: none;
            @if($direction == left){
              border-left: 1px solid $border-color;
            }
            @if($direction == right){
              border-right: 1px solid $border-color;
            }
            @if($direction == top){
              border-top: 1px solid $border-color
            }
            @if($direction == bottom){
              border-bottom: 1px solid $border-color;
            }
            @if($direction == all){
              border: 1px solid $border-color;
            }
        }
    }
}

//placeholder color
@mixin placeholder($color){
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color:$color;
  }
  input:-moz-placeholder, textarea:-moz-placeholder { 
    color:$color;
  }
  input::-moz-placeholder, textarea::-moz-placeholder { 
    color:$color;
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color:$color;
  }
}


@mixin box-gradient($from, $to, $weight: 0) {
  $mix-main: mix($from, $to);
  $mix-sub-from: mix($mix-main, $from);
  $mix-sub-to: mix($mix-main, $to);
  
  box-shadow:
  // left - start color
  -1px   0    0 $weight rgba($from, .75),
  // top left - mix of two colors plus start
  -1px  -1px  0 $weight rgba($mix-sub-from, .25),
  // bottom left - mix of two colors plus start
  -1px   1px  0 $weight rgba($mix-sub-from, .25),
  // top mid - mix of two colors
   0    -1px  0 $weight rgba($mix-main, .5),
  // bottom mid - mix of two colors
   0     1px  0 $weight rgba($mix-main, .5),
  // top right - mix of two colors plus end
   1px  -1px  0 $weight rgba($mix-sub-to, .25),
  // bottom right - mix of two colors plus end
   1px   1px  0 $weight rgba($mix-sub-to, .25),
  // right - end color
   1px   0    0 $weight rgba($to, .75);
}

@mixin border-gradient($from, $to, $width) {
  border-left: $width solid $from;
  border-right: $width solid $to;
  border-top: $width solid $from;
  border-bottom: $width solid $to;
  background-image:
    // both needed for top & bottom
    linear-gradient(left, $from, $to),
    linear-gradient(left, $from, $to);
  
  // 100% left & right, $width px top & bottom
  background-size: 100% $width;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
}

@mixin border-image($from, $to, $width) {
  border-image: linear-gradient(left, $from, $to);
  border-image-slice: 1;
  border-image-width: $width;
}

@mixin font-gradient($from, $to, $dir) {
  background: -webkit-linear-gradient($dir, $from, $to);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}