// Variables
$bg-body: #f9f9f9;

$red: #ee4d4d;
$blue: #2b2e48;
$primary-color: $red;
$secondary-color: $blue;


$base-font-color: #726f77;

// Timeline
$timeline-color: $primary-color;

// Mixins and Placeholders
%clearfix {
	&:after, &:before {
		content: '';
		display: block;
		width: 100%;
		clear: both;
	}
}

.project-name {
  text-align: center;
  padding: 10px 0;
}

.mint-header.is-fixed{
	z-index:1000;
	background: $secondary-color;
}


.mint-swipe{
	width:90%;
	height: 35%;
	margin:0 auto;
	box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.4);
	img{
		width:100%;
	}
	.mint-swipe-indicator{
		z-index:500;
		.is-active{
			background: $red;
		}
	}
}

// Header
.bar_m {	
	background: $secondary-color;
	box-shadow: 0 3px 3px rgba(0,0,0,0.05);
	position:relative;
	@extend %clearfix;

	.bar_wrap{
		position: relative;
		z-index:499;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		align-items: center;
		color:#fff;
		text-align: center;

		span{
			display:block;
			width:20%;
		}

		i, em{
			display: block;
			font-size: 2.5rem;
			top: -1.5rem;
			position: relative;
		}

		em{
			font-size: 1.5rem;
			top:-1rem;
		}

	}

	&:before {
		content: "";
		width:100%;
		height:4rem;
		border-radius: 100%;
		position:absolute;
		top:-2rem;
		left:0;
		background: $secondary-color;
		z-index:400;
	}
}


// Timeline
#timeline {
	padding: 0 1em;
	position: relative;
	transition: all .4s ease;
	margin: 1em 0;

	&:before {
		content:"";
		width: 3px;
		height: 100%;
		background: $timeline-color;
		left: 50%;
		top: 0;
		position: absolute;
	}

	&:after {
		content: "";
		clear: both;
		display: table;
		width: 100%;
	}
	.subj-title{
		position: relative;
		top: 0;
		left: 50%;
		margin-bottom: 2em;
		.subj-icon {
			display:inline-block;
			text-align: center;
			color:#fff;
			background: $blue;
			width: 1.5em;
			height: 1.5em;
			overflow: hidden;
			margin-left: -.7em;
			background: $timeline-color;
			border-radius: 50%;
		}
		.mint-badge{
			display:inline-block;
		}

	}

	.subj-item{
		margin-bottom: 1em;
	}

	.timeline-item {
		position: relative;
		@extend %clearfix;

		.timeline-icon {
			background: $blue;
			width: .5em;
			height: .5em;
			position: absolute;
			top: 0;
			left: 50%;
			overflow: hidden;
			margin-left: -.2em;
			border-radius: 100%;
		}

		.timeline-content {
			background: #fff;
			width:40%;
			padding:.2em 1em .2em .2em;
			box-shadow: 0 3px 0 rgba(0,0,0,0.1);
			border-radius: 5px;
			transition: all .3s ease;
			position: relative;
			
			p{
				margin: 0;
			}
			.content-icon{
				text-align: right;
			}

			&:before {
				content: '';
				position: absolute;
				right: -.6em;
				top: 1.1em;
				width: 0; 
				height: 0; 
				border-top: .8em solid transparent;
				border-bottom: .8em solid transparent; 
				border-left:.8em solid #fff; 
			}

			&.right {
				float: right;

				&:before {
					content: '';
					left: -.6em;
					right: inherit;
					border-left: 0;
					border-right: .8em solid #fff;
				}
			}
		}
	}
}

/* ----------------过渡--------------- */
.fade-enter-active, .fade-leave-active {
  transition: all .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0;
  transform: translateY(30px);
}